<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yeungjin.global_app">
    <application
        android:label="yeungjin-global"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Firebase 메시징 관련 메타데이터 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />

        <!-- 주 액티비티 설정 -->
        <activity
            android:name="com.example.yjg.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 위젯 프로바이더 -->
        <receiver android:name=".MyAppWidgetProvider"
            android:label="Yeungjin Global Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Flutter 플러그인 등록 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
        
    <!-- API 30 이상에서 필요한 앱 가시성 설정 -->
    <queries>
        <!-- SMS 지원 체크 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- 전화 지원 체크 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <!-- 커스텀 탭 지원 체크 -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
</manifest>
